src/main/wsdl/HelloWs.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoint.jaxws.cinq.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://endpoint.jaxws.cinq.com/" name="HelloWorldWsService">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://endpoint.jaxws.cinq.com/">
			<xs:complexType name="helloWorldDto">
				<xs:sequence>
					<xs:element name="id" type="xs:int" />
					<xs:element name="name" type="xs:string" minOccurs="0" />
					<xs:element name="random" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="sayHello">
		<part name="arg0" type="xsd:string"></part>
	</message>
	<message name="sayHelloResponse">
		<part name="return" type="tns:helloWorldDto"></part>
	</message>
	<portType name="HelloWorldWs">
		<operation name="sayHello">
			<input message="tns:sayHello"></input>
			<output message="tns:sayHelloResponse"></output>
		</operation>
	</portType>
	<binding name="HelloWorldWsPortBinding" type="tns:HelloWorldWs">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
		<operation name="sayHello">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal" namespace="http://endpoint.jaxws.cinq.com/"></soap:body>
			</input>
			<output>
				<soap:body use="literal" namespace="http://endpoint.jaxws.cinq.com/"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="HelloWorldWsService">
		<port name="HelloWorldWsPort" binding="tns:HelloWorldWsPortBinding">
			<soap:address location="http://localhost:8080/jaxws/HelloWs"></soap:address>
		</port>
	</service>
</definitions>